@import 'normalize.css';
@import 'flexboxgrid';

body {
  color: #212121;
}

button,
.button {
  border: 1px solid #212121;
  background-color: transparent;
  border-radius: 36px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    transition: background-color .3s ease;
    background-color: rgba(0, 0, 0, .16);
  }
}

.Home {
  &-container {
    min-height: 100vh;
  }

  &__header {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__description {
    padding-top: 60px;
  }

  &__buttons {
    padding-top: 60px;
  }
}

.Header {
  height: 64px;
  border-bottom: solid 1px rgba(0, 0, 0, .14);
  line-height: 64px;

  &-content {
    max-width: 1020px;
  }

  &-logo {
    margin: 0;
  }
}

.main {
  &-content {
    padding-top: 30px;
  }
}

.Footer {
  &-content {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  &-copyright {
    font-size: 13px;
    text-align: right;
    margin: 0;
  }
}

.Loading {
  height: 100vh;
  width: 100%;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, .54);
}
