@import 'normalize.css';
@import 'flexboxgrid';

body {
  color: #212121;
  line-height: 1.5;
}

button,
.button {
  border: 1px solid #212121;
  background-color: transparent;
  border-radius: 36px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    transition: background-color .3s ease;
    background-color: rgba(0, 0, 0, .16);
  }
}

.link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.app-wrapper {
  min-height: 100vh;
  background: #f8f8f8;
  padding-left: 30%;
  position: relative;
}

.Home {
  &-container {
    min-height: 100vh;
  }

  &__header {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__description {
    padding-top: 60px;
  }

  &__buttons {
    padding-top: 60px;
  }
}

.Sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  background: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, .1);

  &__header { }

  &__logo {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  &__user {
    padding-top: 30px;
  }

  &__navigation {
    padding-top: 30px;
  }
}

.user-profile {
  &__photo-placeholder {
    width: 100%;
    position: relative;
  }

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-position: center center;
  }

  &__name {
    padding-left: 10px;
    font-size: 1.1em;
  }
}

.global-nav {
  ul {
    padding: 0;
    list-style: none;
  }

  li {

  }
}

.main {
  &-content {
    padding-top: 30px;
  }
}

.Footer {
  &-content {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  &-copyright {
    font-size: 13px;
    text-align: right;
    margin: 0;
  }
}

.Loading {
  height: 100vh;
  width: 100%;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, .54);
}
