.Splash {
  height: 100vh;
  width: 100%;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, .54);
}
